*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    background-color: #f9f6f6;
    background-image: url(https://i.postimg.cc/DZqnJLLj/Premium-Photo-Programming-code-abstract-technology-background-of-software-developer-and-computer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
 
 }
 /* TODO link a backgound image */
 header nav ul li{
    list-style: none;
    display: inline-block;
    /* flex-direction: row-reverse; */
    margin: 15px 15px;
    /* float: right; */
 } 
 header nav ul li a{
    color: #fff;
 }

 p{
     color: white;
     font-size: larger;
 }
 header h1{
    text-align: center; 
    color: white;
 }
 header p{
     font-size: larger;
 }
 .headnav{
    flex-direction: row;
    display: flex;

 }
 main {
     width: 100%;
     background-color: rgba(41, 38, 38, 0.818);
     
     padding: 2px;
     display: flex;
 }
 .cont{
     padding: 20px; display: flex;
     flex-direction: column;
     gap: 2rem;
    
     
     
 }
 .cont .detail-list a{
     color: #ababab;
     margin: 0 15px;
     
 }
 
 .details{
    
     flex-basis: 20%;
    padding: 20px;
    margin: 20px;
     flex-wrap: wrap;
     background-color: #302f37;
     /* gap: 2rem;
     justify-content: space-around; */
 
 }
 
 
 
 
 /* TODO --Make this div move right */
 .comments{
     flex-basis: 80%;
     padding: 20px;
     margin: 20px;
     width: 50%;
     align-items: center;
     /* TODO -- Shift this to the right */
     float: right;
     background-image: url(https://i.postimg.cc/qqVc2Q3s/j-Query-Code-Computer-Programming-i-Phone-6-HD-Wallpaper-Check-more-at-https-phonewallp-com-jquery-c.jpg);
 }
 /* TODO --Get new icons and link them */
 .icons a{
     text-decoration: none;
     font-size: 30px;
     /* margin-top: 50px ; */
     margin-bottom: 0;
     margin-left: 15px;
     padding: 0;
     color: #ababab ;
     /* display: inline-block; */
 }
 .icons{
     display:flex;
     flex-direction: row;
     position: relative;
     top: 90px;
     
 }
 form input, form textarea{
     width: 90%;
     border: 0;
     outline: none;
     background:rgba(222, 219, 219, 0.818);
     padding: 15px;
     margin: 15px 0;
     color: #fff;
     font-size: 18px;
     border-radius: 6px;
 
 }
 form input#name, form input#cel, form input#mail{
     width: 50%;
 
 }
 form button{
     padding: 14px 60px;
     font-size: 18px;
     margin-top: 20px;
     cursor: pointer;
     background: #302f37;
 }
 
 footer p{
    
     width: 100%;
     text-align: center;
     padding: 15px 0;
     margin-top:0 ;
 }

 
/* css for about flip page */
.body1 {
    float: right;
  font-family: Arial, Helvetica, sans-serif;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
}





/* latest changes----logo */
.logo{
width :350px;
opacity:0.30;

}
.p{
 display: flexbox;
    
}
/* styling navigation bar */
.head{
    text-align: center;
    position: top; 
    margin: 50px 90px;

}
.topnav{
    overflow:hidden;
    background-color: #493c46;
    height: 53px;
}
.topnav a{
    float:left;
    display:block;
    color:#0a0101;
    padding: 14px 16px 14px 16px;
    text-align: center;
    font-size:20px;
    text-decoration: none;
}
.topnav a:hover{
    background-color:#0a0101;
    color: #fff;
    font-weight: bold;

}
/* footer */
footer{
    padding: 20px;
    text-align: center;
    background-color: #493c46;
}
footer a{
    font-size:larger ;
    color: #fff;
    text-decoration: none;
}
.logo2{
    width:50px;
    
}

 
 @media screen and (max-width: 900px){
    :root{
        background-size: cover;
    }

    main {
        display: flexbox;
        flex-direction: column-reverse;
        height: inherit;
        width: fit-content;
    }
    footer{
        width: 100%;
    }
    .comments{
        width: fit-content;
    }
    p{
        width: fit-content;
        text-align: center;
    }
    .icons a{
        width: fit-content;
        font-size: smaller;
    }
    .logo{
        width: 100%;
    }
    footer p{
    
        width: 100%;
        text-align: center;
        padding: 15px 0;
        margin-top:0 ;
    }

 }

